* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/***** Header *****/
.toolbar {
  width: 100%;
  height: 40px;
  background: #3c3a39;
}

.logo {
  text-align: left;
  color: white;
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 2.5rem;
  word-wrap: break-word;
  padding: 0 1rem;
}

.hamburger {
  padding: 0.5rem 2rem;
  position: absolute;
  right: 0;
  top: 0;
}

img.hamburgerIcon {
  width: 1rem;
  height: 0.5rem;
  right: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/***** Intro *****/
.headline {
  background: #1c1a19;
  background-image: url(./assets/background/IntroBackground.png);
  background-repeat: no-repeat;
  background-position: right bottom -30px;
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 120px;
  padding-bottom: 120px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  display: inline-flex;
}

.headline h1 {
  width: 100%;
  height: 100%;
  color: #ff6b00;
  font-size: 56px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  word-wrap: break-word;
}

.headline h2 {
  width: 100%;
  height: 100%;
  color: #fff5e1;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 32px;
  word-wrap: break-word;
}

.headline p {
  width: 327px;
  height: 123px;
  color: white;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  line-height: 24px;
  word-wrap: break-word;
}

.SocialMedia {
  justify-content: flex-start;
  align-items: center;
  display: inline-flex;
}

.socialConnect {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

/***** Projects *****/
.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  height: 100%;
  width: 100%;
  padding: 120px 0;
}

.Title {
  font-size: 2rem;
  color: #1c1a19;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 1.5rem;
  word-wrap: break-word;
}

.line {
  width: 80%;
  height: 0;
  border: 0.1px #212121 solid;
}

.topCard {
  width: 100%;
  height: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.topProjectDetails {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
}

.topprojectDetails h4 {
  font-size: 32px;
  color: #091e42;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 44px;
}

.topprojectDetails p {
  font-size: 16px;
  color: #091e42;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
}

.topProjectLang {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
}

.topProjectLang li{
  padding: 12px;
  background: white;
  border: 0.50px #8993A4 solid;
  display: flex;
}

.topProjectButton {
  text-decoration: none;
  color: #fff;
  padding: 12px;
  background: #ff6b00;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  display: inline-flex;
}

.projects {
  flex: 1;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.projectCard {
  background-image: url(./assets/ProjectImg/Project1.png);
  background-repeat: no-repeat;
  background-size: cover;
  flex: 1;
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 20px;
  margin: 0 auto;
}

.projectCard:nth-child(2) {
  background-image: url(./assets/ProjectImg/Project2.png);
}

.projectCard:nth-child(3) {
  background-image: url(./assets/ProjectImg/Project3.png);
}

.projectCard:nth-child(4) {
  background-image: url(./assets/ProjectImg/Project1.png);
}

.projectCard:nth-child(5) {
  background-image: url(./assets/ProjectImg/Project2.png);
}

.projectCard:nth-child(6) {
  background-image: url(./assets/ProjectImg/Project3.png);
}

.projectCard h4 {
  color: white;
  font-size: 32px;
  font-family: "Crete Round", serif;
  font-weight: 400;
  line-height: 44px;
  word-wrap: break-word;
  padding: 0 30px 0 10px;
  max-width: 100%;
  margin: 0 auto;
}

.projectCard p {
  color: white;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 24px;
  padding: 0 30px 0 25px;
  max-width: 100%;
  margin: 0 auto;
}

.projectLang {
  justify-content: flex-start;
  align-items: center;
  gap: 12px;
  display: flex;
  max-width: 100%;
  margin-left: 5%;
}

.projectLang li {
  padding: 12px;
  background: rgba(255, 255, 255, 0.24);
  justify-content: flex-start;
  align-items: center;
  display: flex;
  color: white;
  font-size: 15px;
  font-family: "Inter", sans-serif;" ;
  font-weight: 500;
  line-height: 20px;
  max-width: 100%;
}

.seeProjectButton {
  background: #ff6b00;
  position: relative;
  width: 100%;
}

.seeProject {
  padding: 12px;
  background: #ff6b00;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 100%;
  margin: 0 auto;
}

.seeProject h4 {
  color: white;
  font-size: 17px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.51px;
  max-width: 100%;
  margin: 0 auto;
}
